@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  margin: 0;  
  font-family: 'Poppins', sans-serif;
}

.position-relative{
  position: relative;
}
.position-absolute{
  position: absolute;
}

.d-flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.aling-center{
  align-items: center;
}

.text-center{
text-align: center;
}

.poppins{
  font-family: "poppins";
}

.flex-row{
  flex-direction: row;
}
.flex-column{
  flex-direction: column
}



